@import 'tailwindcss';

@font-face {
  font-family: Ubuntu;
  font-weight: 300;
  src: url(../assets/fonts/Ubuntu/light.ttf);
}
@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  src: url(../assets/fonts/Ubuntu/regular.ttf);
}
@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  src: url(../assets/fonts/Ubuntu/medium.ttf);
}

@font-face {
  font-family: IBMPlexMono;
  font-weight: 400;
  src: url(../assets/fonts/IBMPlexMono/regular.ttf);
}

@font-face {
  font-family: IBMPlexMono;
  font-weight: 500;
  src: url(../assets/fonts/IBMPlexMono/medium.ttf);
}

@layer base {
  @supports not (-webkit-font-smoothing: antialiased) {
    * {
      scrollbar-color: var(--color-brand1) var(--color-background1);
    }
  }

  ::-webkit-scrollbar {
    @apply w-2 sm:w-4;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-background1 border-[1] sm:border-2 border-brand1 rounded-full;
  }

  ::-webkit-scrollbar-track {
    @apply my-2 bg-brand1 rounded-full cursor-pointer border-2 sm:border-4 border-background1;
  }
}

@theme {
  --font-ubuntu: Ubuntu;
  --font-ibm-plex-mono: IBMPlexMono;

  --color-brand1: #12f7d6;
  --color-brand2: #98faec;

  --color-background1: #292f36;
  --color-background2: #1a1e23;

  --breakpoint-sm: 360;
  --breakpoint-md: 768;
  --breakpoint-lg: 1280;
  --breakpoint-xl: 1920;
}

@utility max-container {
  @apply max-w-[1440px] mx-auto;
}

@utility spacing {
  @apply p-6 md:p-16 lg:p-32;
}
