@import "tailwindcss";

@layer base {
  @supports not (-webkit-font-smoothing: antialiased) {
    * {
      scrollbar-color: var(--color-brand1) var(--color-background1);
    }
  }

  ::-webkit-scrollbar {
    @apply w-2 sm:w-4;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-background1 border-brand1 rounded-full border sm:border-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-brand1 border-background1 my-2 cursor-pointer rounded-full border-2 sm:border-4;
  }
}

@theme {
  --font-ubuntu: var(--font-ubuntu);
  --font-ibm-plex-mono: var(--font-ibm-plex-mono);

  --color-brand1: #12f7d6;
  --color-brand2: #98faec;

  --color-background1: #292f36;
  --color-background2: #1a1e23;

  --color-success: #52dc6e;
  --color-success-light: #f1f8f4;
  --color-danger: #fb3e3f;
  --color-danger-light: #fbefeb;

  --breakpoint-sm: 360;
  --breakpoint-md: 768;
  --breakpoint-lg: 1280;
  --breakpoint-xl: 1920;
}

@utility max-container {
  @apply mx-auto max-w-[1440px];
}

@utility spacing {
  @apply p-6 md:p-16 lg:p-32;
}
